@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR";
}

.window {
  height: 100vh;
  overflow: hidden;
}

.body {
  height: 100%;
  overflow-y: auto;
}
