.enterBody {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr 3fr;
}

.enterContainer {
  grid-row-start: 1;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  max-height: 100vh; /* 화면의 100% 높이까지만 허용 */
  overflow-y: auto; /* 컨텐츠가 넘칠 경우 세로 스크롤 생성 */
}
