.container {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.intro p {
  font-size: 19px;
  margin: 0px;
}

.intro p span {
  max-width: 94px;
  font-weight: bold;
  color: #69973a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerIcon {
  display: flex;
}

.headerIcon img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  cursor: pointer;
}
