.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 88px;
  height: 88px;
  margin-top: 50px;
  margin-bottom: 12px;
}

.title {
  font-size: 23px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 35px;
}

.goBackBtn,
.goBackBtn:hover,
.goBackBtn:focus {
  font-size: 15px;
  margin-bottom: 30px;
  color: #8ec952;
  text-decoration: none;
}

.verticalLine {
  height: 15px;
  align-self: center;
}

.mission {
  width: 100%;
  height: 50%;
  text-align: center;
  background-color: #8ec952;
  padding: 7%;
}

.missionTitle {
  color: white;
  font-size: 1rem;
  margin-bottom: 5%;
}

.missionKorean,
.missionEnglish {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.identity {
  width: 100%;
  background-color: #f6f6f6;
  padding: 3%;
  text-align: left;
}

.identitySubtitle {
  color: green;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 3%;
  margin-bottom: 4%;
}

.identityTitle {
  color: green;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.identityExplain {
  color: green;
  font-size: 0.9rem;
  font-weight: 320;
  margin-bottom: 3%;
}

.function {
  width: 100%;
  padding: 3%;
  text-align: left;
}

.functionTitle {
  color: green;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5%;
  margin-bottom: 5%;
}

.checkRoutine,
.manageRoutine,
.statistics {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.checkRoutineImage,
.manageImage,
.statisticsImage {
  width: 100%;
}

.checkRoutineImageContainer,
.statisticsImageContainer {
  width: 85%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  margin-left: 5%;
}

.manageImageContainer {
  width: 85%;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

.checkRoutineExplain,
.statisticsExplain {
  font-size: 1rem;
  box-sizing: border-box;
}

.manageExplain {
  font-size: 1rem;
  box-sizing: border-box;
  margin-left: 5%;
}

.checkRoutineExplainSubtitle,
.manageExplainSubtitle,
.statisticsExplainSubtitle {
  color: grey;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5%;
}

.checkRoutineExplainTitle,
.manageExplainTitle,
.statisticsExplainTitle {
  font-size: 2rem;
  font-weight: 700;
}

.checkRoutineExplainMain,
.manageExplainMain,
.statisticsExplainMain {
  font-size: 1rem;
}

.apply {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
}

.applyContainer {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.applyMethod,
.applyPath {
  color: white;
  font-size: 1rem;
}

.applyLink {
  color: white;
  text-decoration: none;
}

.row {
  width: 100%;
}

.explainCol {
  display: flex;
  align-items: center;
}

.imageCol {
  display: flex;
  align-items: center;
}

footer {
  width: 100%;
  align-self: flex-start;
  font-size: 14px;
  color: white;
  background-color: gray;
  padding: 24px;
}

footer p {
  margin: 0;
}
