.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 88px;
  height: 88px;
}

.title {
  font-size: 23px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 35px;
}

.form {
  width: 320px;
}

.form .inputGroup {
  margin-top: 18px;
}

.form .submitBtn,
.form .submitBtn:focus {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 58px;
  background-color: #8ec952;
  border-color: #8ec952;
}

.signUpBtn {
  font-size: 15px;
  color: #8ec952;
}

.signUpBtn:hover,
.signUpBtn:focus {
  font-size: 15px;
  color: #31461c;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modalBody p {
  font-size: 17px;
}

.modalBtn,
.modalBtn:focus,
.modalBtn:hover {
  background-color: #8ec952;
  border-color: #8ec952;
}
