.container {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.intro p {
  font-size: 19px;
  margin: 0px;
}

.intro p span {
  font-weight: bold;
  color: #69973a;
}

.headerIcon {
  display: flex;
}

.headerIcon img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  cursor: pointer;
}

.routinesContainer {
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #8ec952;
  padding: 16px;
}

.routinesContainerHeader {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.routinesContainerHeader img {
  width: 28px;
  height: 28px;
}

.routinesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 580px;
  overflow-y: auto;
}

.addModalBody {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.addModalBodyTitle {
  font-size: 17px;
  margin-bottom: 9px;
}

.spinner {
  display: flex;
  justify-content: center;
}

.modalNotice {
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

.dayOfWeekGroup {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #8ec952;
}

.dayOfWeekBtn,
.dayOfWeekBtn:hover {
  color: #6eb02a;
  background-color: white;
  border: none;
}

.selectedDayOfWeekBtn,
.selectedDayOfWeekBtn:hover {
  color: #6eb02a;
  background-color: #e4f6d2;
  border: none;
}

.checkAllDay {
  display: flex;
  align-items: center;
}

.checkAllDay input {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
  display: inline-block;
  accent-color: #8ec952;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.submitBtn,
.submitBtn:hover,
.submitBtn:focus,
.submitBtn:disabled {
  background-color: #8ec952;
  border-color: #8ec952;
}

.errorModalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorModalBody .errorModalBodyTitle {
  font-size: 18px;
}

.errorModalBody .errorModalBodyContent {
  font-size: 15px;
}

.errorModalBtn,
.errorModalBtn:focus,
.errorModalBtn:hover {
  background-color: #8ec952;
  border-color: #8ec952;
}
