.routineCard {
  height: 48px;
  display: flex;
  justify-content: center;
  border-color: #8ec952;
  background-color: #e4f6d2;
  cursor: pointer;
}

.cardContent {
  display: flex;
  font-size: 16px;
}

.updateModalHeader {
  display: flex;
  justify-content: space-between;
}

.updateModalTitle {
  font-size: 19px;
}

.updateModalBody {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 25px;
}

.updateModalBodyTitle {
  font-size: 17px;
  margin-bottom: 9px;
}

.modalNotice {
  color: #8d8d8d;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

.dayOfWeekGroup {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #8ec952;
}

.dayOfWeekBtn,
.dayOfWeekBtn:hover,
.dayOfWeekBtn:active {
  color: #6eb02a;
  background-color: white;
  border: none;
}

.selectedDayOfWeekBtn,
.selectedDayOfWeekBtn:hover,
.selectedDayOfWeekBtn:active {
  color: #6eb02a;
  background-color: #e4f6d2;
  border: none;
}

.checkAllDay {
  display: flex;
  align-items: center;
}

.checkAllDay input {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
  display: inline-block;
  accent-color: #8ec952;
}

.activeToggle {
  display: flex;
}

.activeToggleText {
  font-size: 17px;
  margin-right: 8px;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.submitBtn,
.submitBtn:hover,
.submitBtn:focus,
.submitBtn:disabled {
  background-color: #8ec952;
  border-color: #8ec952;
}

.deleteModalBody {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  align-items: center;
}

.deleteModalBody .deleteModalBodyTitle {
  font-size: 18px;
}

.deleteModalBody .deleteModalBodyContent {
  font-size: 15px;
}
