.routineCard {
  height: 48px;
  display: flex;
  justify-content: center;
  border-color: #8ec952;
  background-color: #e4f6d2;
  cursor: pointer;
}

.cardContent {
  display: flex;
}

.updateModalHeader {
  display: flex;
  justify-content: space-between;
}

.updateModalTitle {
  font-size: 20px;
}

.updateModalBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalNotice {
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

.dayOfWeekGroup {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #8ec952;
}

.dayOfWeekBtn,
.dayOfWeekBtn:hover {
  background-color: white;
  border: none;
  color: #6eb02a;
}

.checkAllDay {
  display: flex;
  align-items: center;
}

.checkAllDay input {
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
  display: inline-block;
  accent-color: #8ec952;
}

.activeToggle {
  display: flex;
}

.activeToggleText {
  margin-right: 8px;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.submitBtn,
.submitBtn:hover,
.submitBtn:focus,
.submitBtn:disabled {
  background-color: #8ec952;
  border-color: #8ec952;
}

.deleteModalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
