.react-calendar {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 13px;
  border-color: #8ec952;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 12px;
  height: 72px;
  padding: 4px 0px 8px;
  position: relative;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #8ec952;
}

.react-calendar__tile:disabled {
  background-color: white;
}

.react-calendar__tile--active {
  color: black;
  background-color: white;
}

.react-calendar__tile--now {
  background: #faf4e8;
}

.react-calendar__navigation {
  border-radius: 12px 12px 0px 0px;
  color: white;
  background-color: #8ec952;
}

.react-calendar__navigation button:disabled {
  border-radius: 12px 12px 12px 12px;
  background-color: #8ec952;
}

.react-calendar__navigation button:enabled {
  border-radius: 12px 12px 12px 12px;
  color: white;
  background-color: #8ec952;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  border-radius: 12px 12px 12px 12px;
  color: white;
  background-color: #8ec952;
}

.react-calendar__navigation__label {
  color: white;
}

.react-calendar__navigation__arrow {
  font-size: 20px;
}

/* 요일 밑줄 제거 */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 800;
  cursor: default;
}
