.container {
  display: flex;
  flex-direction: column;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.rateContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.progressBar {
  height: 24px;
  font-size: 15px;
}

.progressBar div {
  background-color: #8ec952;
}

.noRoutine {
  font-size: 15px;
  text-align: center;
  margin-top: 16px;
}
