.container {
  display: flex;
  flex-direction: column;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.tileContent {
  width: 80px;
  height: 80px;
  position: relative;
}

.tileCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  background-color: #ecfadd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tileText {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tileTextIncompleteDoneAt {
  color: black;
}

.tileTextCompleteDoneAt {
  color: #8ec952;
}

.tileTextTotal {
  color: #8ec952;
}

.tileCrown {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 14px;
  height: 14px;
}

.rateContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.progressBar {
  height: 24px;
  font-size: 15px;
}

.progressBar div {
  background-color: #8ec952;
}

.resultsContainer {
  background-color: #e9ecef;
  margin-top: 13px;
  padding: 8px;
}

.resultsContainerTitle {
  display: flex;
  align-items: center;
}

.resultsContainerTitleText {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.targetDate {
  color: white;
  background-color: #8ec952;
  margin-right: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9ecef;
  border-radius: 16px;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 8px;
}

.doneCount {
  color: #8ec952;
}

.crown {
  width: 18px;
  height: 18px;
  margin-left: 4px;
}

.resultsList {
  display: flex;
  flex-direction: column;
  max-height: 224px;
  overflow-y: auto;
  background-color: #e9ecef;
  /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.resultsList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
