.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9e9e9;
  background-color: white;
  margin-top: 80px;
}

.logoSpace {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSpace span {
  font-size: 48px;
  transform: none;
}

.signUpBox {
  display: flex;
  align-self: stretch;
  margin-left: 16px;
  margin-right: 16px;
  flex-direction: column;
}

.signUpBox input {
  border: 2px solid #f6f6f6;
  background-color: #fafafa;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.signUpBox p {
  font-size: 12px;
}

.pwContainer {
  display: flex;
  flex-direction: row;
}

.pwContainer input {
  flex-basis: 100%;
}

.pwContainer button {
  margin-left: 8px;
  height: 100%;
  background-color: white;
  border-color: #3b9dff;
  border-radius: 5px;
}

.signUpBtn {
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-color: #3b9dff;
  color: white;
}

.signUpBtn:disabled {
  opacity: 0.5;
  color: #a2ccf8;
}

.switchBtn {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 12px;
  border: none;
  background-color: white;
  color: rgb(0, 59, 83);
}

.modalBtn {
  height: 24px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-color: #3b9dff;
  color: white;
}
