.container {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.intro p {
  margin: 0px;
}

.intro p span {
  color: #69973a;
}

.headerIcon {
  display: flex;
}

.headerIcon img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}
