.incompleteRoutine {
  height: 48px;
  display: flex;
  justify-content: center;
  border-color: #8ec952;
  background-color: #e4f6d2;
  cursor: pointer;
}

.completeRoutine {
  height: 48px;
  display: flex;
  justify-content: center;
  border-color: rgb(190, 190, 190);
  background-color: lightgray;
}

.cardContent {
  font-size: 16px;
  display: flex;
}

.modalHeader {
  display: flex;
  justify-content: center;
}

.modalTitle {
  font-size: 19px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.modalBodyTitle {
  font-size: 17px;
  margin-bottom: 9px;
}

.dayOfWeekGroup {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #8ec952;
}

.dayOfWeekBtn,
.dayOfWeekBtn:hover {
  background-color: white;
  border: none;
  color: #6eb02a;
}

.certificationCard {
  background: #e4f6d2;
  border-color: #e4f6d2;
}

.certificationCardContent {
  font-size: 16px;
  font-weight: bold;
  color: #6fa934;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.submitBtn,
.submitBtn:hover,
.submitBtn:focus,
.submitBtn:disabled {
  background-color: #8ec952;
  border-color: #8ec952;
}
