.incompleteRoutine {
  height: 48px;
  display: flex;
  justify-content: center;
  border-color: #ead9ad;
  background-color: #faf4e8;
  cursor: pointer;
}

.completeRoutine {
  height: 48px;
  display: flex;
  justify-content: center;
  border-color: #8ec952;
  background-color: #e4f6d2;
  cursor: pointer;
}

.cardContent {
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.modalHeader {
  display: flex;
  justify-content: center;
}

.modalTitle {
  font-size: 19px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 25px;
}

.modalBodyTitle {
  font-size: 17px;
  margin-bottom: 9px;
}

.dayOfWeekGroup {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #8ec952;
}

.dayOfWeekBtn,
.dayOfWeekBtn:hover,
.dayOfWeekBtn:active,
.dayOfWeekBtn:disabled {
  color: #6eb02a;
  background-color: white;
  border: none;
  opacity: 1;
}

.selectedDayOfWeekBtn,
.selectedDayOfWeekBtn:hover,
.selectedDayOfWeekBtn:active,
.selectedDayOfWeekBtn:disabled {
  color: #6eb02a;
  background-color: #e4f6d2;
  border: none;
  opacity: 1;
}

.selectedEveryDayBtn,
.selectedEveryDayBtn:hover,
.selectedEveryDayBtn:active,
.selectedEveryDayBtn:disabled {
  color: #6eb02a;
  background-color: white;
  font-weight: bold;
  border: none;
  opacity: 1;
}

.certificationCard {
  background: #e4f6d2;
  border-color: #e4f6d2;
}

.certificationCardContent {
  font-size: 16px;
  font-weight: bold;
  color: #6fa934;
}

.modalNotice {
  color: #e26862;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.submitBtn,
.submitBtn:hover,
.submitBtn:focus,
.submitBtn:disabled {
  background-color: #8ec952;
  border-color: #8ec952;
}

.cancelProveModalBody .cancelProveModalBodyTitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
